 <div id="player">
  <div id="blurwrapper">
         <img ng-src="{{getPlayingSong().coverartthumb}}" src="images/albumdefault_60.jpg" height="100px" width="100%" />
  </div>
    <div id="playercontainer">
        <div id="playerleft" class="floatleft">
            <div class="playeractions floatleft">
                <a class="hover" id="PreviousTrack" title="Previous Track" ng-click="previousTrack()">
			<svg viewBox="0 0 24 24">
    				<path d="M6,18V6H8V18H6M9.5,12L18,6V18L9.5,12Z" />
			</svg>
                </a>
                <a class="hover PlayTrack" title="Play/Pause" ng-click="play()">
                    	<svg viewBox="0 0 24 24">
    				<path d="M8,5.14V19.14L19,12.14L8,5.14Z" />
			</svg>
                </a>
                <a class="hover PauseTrack" title="Play/Pause" style="display: none;" ng-click="pause()">
			<svg viewBox="0 0 24 24">
    				<path d="M14,19H18V5H14M6,19H10V5H6V19Z" />
			</svg>
                </a>
                <a class="hover" id="NextTrack" title="Next Track" ng-click="nextTrack()">
			<svg viewBox="0 0 24 24">
    				<path d="M16,18H18V6H16M6,18L14.5,12L6,6V18Z" />
			</svg>
                </a>
            </div>
            <div id="songdetails">
                <div id="coverart">
                    <a ng-click="fancyboxOpenImage(getPlayingSong().coverartfull)">
                        <img ng-src="{{getPlayingSong().coverartthumb}}" src="images/albumdefault_60.jpg" height="30" width="30" />
                    </a>
                </div>
                <ul>
                    <li class="song" id="{{getPlayingSong().id}}" ng-bind-html="getPlayingSong().name" title="{{getPlayingSong().specs}}"></li>
                    <li class="album" ng-bind-html="getPlayingSong().album"></li>
                </ul>
                <div id="songdetails_controls">
                    <a href="" class="jukebox" title="Jukebox Mode [Beta]" ng-click="toggleSetting('Jukebox')" ng-class="{'hoverSelected': !settings.Jukebox }"></a>
                    <jamstash-repeat selected-value="playerSettings.repeat" values="playerSettings.repeatValues"></jamstash-repeat>
                    <a href="" id="action_SaveProgress" class="lock" title="Save Track Position: On" ng-show="settings.SaveTrackPosition"></a>
                    <a title="Favorite" href="" ng-class="{'favorite': getPlayingSong().starred, 'rate': !getPlayingSong().starred}" ng-click="toggleStar(getPlayingSong())" stop-event="click"></a>
                    <a href="" id="action_Mute" class="mute" title="Mute"></a>
                    <a href="" id="action_UnMute" class="unmute" title="Unmute" style="display: none;"></a>
                    <!--<div class="jp-volume-bar"><div class="jp-volume-bar-value"></div></div><a href="" id="action_VolumeMax" class="volume" title="Max Volume"></a>-->
                </div>
            </div>
            <div id="playdeck_1" jplayer></div>
            <div id="playdeck_2"></div>
            <div id="submenu_CurrentPlaylist" class="submenu shadow" style="display: none;">
                <table id="CurrentPlaylistPreviewContainer" class="simplelist songlist">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="playermiddle">
            <div id="audiocontainer">
                <div class="audiojs" id="audio_wrapper0">
                    <div class="scrubber"><div class="progress"></div><div class="loaded"></div></div>
                    <div class="time"><em id="played">00:00</em>/<strong id="duration">00:00</strong></div>
                    <div class="error-message"></div>
                </div>
            </div>
            <div id="preview"></div>
        </div>
        <div class="clear"></div>
        <div id="globalactions">
            <a href="" class="hover" ng-click="toggleQueue()" title="Pin Queue">
		<svg viewBox="0 0 24 24">
    			<path d="M19,9H2V11H19V9M19,5H2V7H19V5M2,15H15V13H2V15M17,13V19L22,16L17,13Z" />
		</svg>
	    </a>
        </div>
    </div>
</div>
