<div class="queue headeractions">
	<a
        class="icon-wrap hover"
        title="Select all songs"
        ng-click="vm.selectAll()"
    >
        <svg class="icon" viewBox="0 0 20 20">
            <path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
        </svg>
    </a>
    <a
        class="icon-wrap hover"
        title="Shuffle Queue"
        ng-click="vm.shuffleQueue()"
    >
        <svg class="icon" viewBox="0 0 20 20">
                <path d="M14.83,13.41L13.42,14.82L16.55,17.95L14.5,20H20V14.5L17.96,16.54L14.83,13.41M14.5,4L16.54,6.04L4,18.59L5.41,20L17.96,7.46L20,9.5V4M10.59,9.17L5.41,4L4,5.41L9.17,10.58L10.59,9.17Z" />
        </svg>
    </a>
    <a
        class="icon-wrap hover"
        title="Delete Queue"
        ng-click="vm.emptyQueue()"
    >
        <svg class="icon" viewBox="0 0 20 20">
                <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
        </svg>
    </a>
    <a
        class="icon-wrap hover"
        title="Remove Selected From Queue"
        ng-click="vm.removeSelectedSongsFromQueue()"
    >
        <svg class="icon" viewBox="0 0 20 20">
                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
    </a>
</div>
<div class="header">Queue</div>
<div id="SideQueue">
    <ul class="simplelist songlist noselect">
        <div
            class="songs"
            ui-sortable
            ng-model="vm.player.queue"
        >
            <li
                ng-repeat="song in vm.player.queue track by $index"
                class="row song id{{song.id}}"
                ng-click="vm.toggleSelection(song)"
                ng-dblclick="vm.playSong(song)"
                ng-class="{'selected': song.selected, 'playing': vm.isPlayingSong(song)}"
            >
                <div class="itemactions_queue">
                    <a
                        class="remove hover"
                        href=""
                        title="Remove Song"
                        ng-click="vm.removeSongFromQueue(song)"
                        stop-event="click"
                    >
                        <svg viewBox="0 0 20 20">
                                <path d="M19,13H5V11H19V13Z" />
                        </svg>              
                    </a>
                    <a
                        href=""
                        class="hover"
                        title="Star"
                        ng-class="{'favorite': song.starred, 'rate': ! song.starred}"
                        ng-click="vm.toggleStar(song)"
                        stop-event="click"
                    >
                        <svg viewBox="0 0 20 20">
                                <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                        </svg>
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="title floatleft" title="{{ song.description }}" ng-bind-html="song.name"></div>
                <div class="time floatleft">{{ song.time }}</div>
                <div class="clear"></div>
            </li>

        </div>
    </ul>
    <div class="colspacer"></div>
</div>
